*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: paleturquoise;
}
#para-gen{
    display: flex;
}
#para1{
    margin-right: 300px;
}
span{
    font-weight: bold;
    font-size: 18px;
}
input{
    height: 30px;
    width: 300px;
}
#para1-output,#para2-output{
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    font-family:'Times New Roman', Times, serif;
}